* {
  margin: 0;
  padding: 0;
}

.navbar1 {
  padding: 1rem;
  background-color: #333;
}

.navbar1 button {
  border: none;
  background: none;
}

.navbar1 i {
  color: white;
  font-size: 30px;
}

#navbar {
  position: fixed;
  top: 0;
  left: -200px;
  /* Start the navbar off-screen */
  width: 200px;
  height: 100%;
  background-color: #333;
  color: #fff;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}

#navbar.open {
  left: 0;
  /* Move the navbar onto the screen */
}

#navbar ul {
  list-style: none;
  margin: 0;
  padding-top: 3rem;
}

#navbar li {
  margin: 10px 0;
  font-size: 30px;
}

#navbar li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s ease-in-out;
}

#navbar li a:hover {
  background-color: #666;
}

#navbar button {
  background: none;
  border: none;
}

#navbar i {
  color: white;
  font-size: 30px;
  text-align: center;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 5rem;
  background-color: black;
  padding: 1rem;
  transition: margin-left 0.3s ease-out;
  overflow-y: scroll;
}

.container .drag-container {
  display: flex;
}


.container .drag-container .drag-element {
  color: #fff;
  padding: 1rem;
  width: 45%;
  border: solid 2px #fff;
  margin: 1rem;
}

.container .drag-container .drag-element:nth-child(2n+1) {
  clear: both;
}


table {
  z-index: 10000;

}